{extend name='./common/base' /}
{block name='reg'}
<div style="padding: 100px 100px 10px;">
    <form role="form" method="post" action="/tp/public/index/index/baoteshu">
        <div class="form-group">
            <label for="name">情况说明</label>
            <textarea class="form-control" rows="3"  required="required" name="content"></textarea>
        </div>
        <div class="form-group">
            <label for="name">涉及人员</label>
            <input type="text" class="form-control" placeholder=""  required="required" name="with">
        </div>
        <div class="form-group">
            <label for="name">时间</label>
            <input type="text" class="form-control" placeholder="非必填" name="time">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" placeholder="">
        </div>
    </form>
</div>
{/block}