{extend name="./common/base" /}
{block name="reg"}
<!--<ul class="list-group">
{volist name="info" id="vo"  }
    <li class="list-group-item">
        <span class="badge">0</span>
        {$vo.name}-----{$vo.class}班------{$vo.dorm}
    </li>
{/volist}
</ul>-->
<div style="padding: 20px 20px 10px;">
    <table class="table table-striped">
        <caption>报加班情况</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>班级</th>
            <th>宿舍</th>
            <th>地点</th>
        </tr>
        </thead>
        <tbody>
        {volist name="info" id="vo"}
        <tr>
            <td>{$vo.name}</td>
            <td>{$vo.class}</td>
            <td>{$vo.dorm}</td>
            <td>{$vo.room}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/block}